/**
 * Site header
 */
 .site-header {
  position: relative;
  width: 100%;
  height: 70px;
  background: $grey-color-dark;
  display: flex;
  align-items: center;
  justify-content: center;

}

.site-title {
  font-size: 26px;
  font-weight: 300;
  line-height: 56px;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;

  &,
  &:visited {
    color: $background-color;
  }
  &:hover {
    text-decoration: none;
    cursor: pointer;
  }
}


/**
 * Page content
 */
 .page-content {
  padding: $spacing-unit 0;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  img {
    margin-left: 5%;
  }
}

.page-heading {
  font-size: 20px;
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    a {
      text-decoration: none;
    }
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  font-size: 24px;
}



/**
 * Posts
 */
 .post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    font-size: 36px;
  }
}

.post-content {
  margin-bottom: $spacing-unit;
  text-align: justify;

  h2 {
    font-size: 32px;

    @include media-query($on-laptop) {
      font-size: 28px;
    }
  }

  h3 {
    font-size: 26px;

    @include media-query($on-laptop) {
      font-size: 22px;
    }
  }

  h4 {
    font-size: 20px;

    @include media-query($on-laptop) {
      font-size: 18px;
    }
  }
}

.menu {
  position: fixed;
  top: 0;
  bottom: 0;
  left: -250px;
  width: 250px;
  background-color: rgba(0,0,0,0.7);
  transition: all 0.5s ease-out;
  ul {
    margin-top: 66px;
    padding: 10px;
    list-style: none;
    li {
      border-bottom: 1px solid #555;
      a {
        display: block;
        color: #FFF;
        padding: 10px;
        text-decoration: none;
      }
    }
  }
}

.menu-btn {
  position: fixed;
  color: #FFF;
  background-color: #333;
  padding: 10px;
  top: 12px;
  left: 7px;
}
#menu-toggle {
  display: none;
  &:checked {
    & + .menu{
      left: 0;
    }
  }
}


/**
 * Functions
 */
.foo {
  width: 20px;
  height: 5px;
  background-color: red;
  position: relative;
  -webkit-animation-name: example; /* Chrome, Safari, Opera */
  -webkit-animation-duration: 4s; /* Chrome, Safari, Opera */
  -webkit-animation-delay: 2s; /* Chrome, Safari, Opera */
  animation-name: example;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
}

$step: 5;
$xInitial: 0;
$xFinal: 20;
@keyframes example {
  $percentIncrement: 100/$step;
  $degIncrement: 360/$percentIncrement;
  $xIncrement: 20/($percentIncrement/4);
  @for $i from 0 through $percentIncrement {
    $percent: 0% + $i * $step;
    $deg: 0deg + $i * $degIncrement;
    
    $xFirstQuarter: $xInitial + $i * $xIncrement; 
    @if $xFirstQuarter <= $xFinal and 
        $xFirstQuarter >= $xInitial {
      $x: $xInitial + $i * $xIncrement;
      #{$percent} { top: $x; transform: rotate($deg) }
    }
    
    $xSecondQuarter: $xInitial + $i * $xIncrement;
    @if $xSecondQuarter > $xFinal and 
        $xSecondQuarter < $xFinal {
      $x: $xFinal - $xIncrement * ($i - 5);
      #{$percent} { top: $x; transform: rotate($deg) }
    }
  }
}